<li>
  <figure>
    <a href=<%= @item.fetch(:url) %>>
      <% if @item.fetch(:image) %>
        <img loading="lazy" src=<%= @item[:image] %>>
      <% else %>
        <p class="missing-image">❓</p>
      <% end %>

      <h5>
        <%= "💲" unless @item.fetch(:free) %>
        <%= @item.fetch(:name) %>
      </h5>
    </a>

    <% if @item.fetch(:description) %>
      <figcaption>
        <%=raw Kramdown::Document.new(@item.fetch(:description)).to_html %>
      </figcaption>
    <% end %>
  </figure>
</li>